name: CI Pipeline

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest

    services:
      mongo:
        image: mongo:6
        ports:
          - 27017:27017

    env:
      CURAMYN_ENV: test
      PYTHONPATH: .

      CURAMYN_GEMINI_API_KEY: dummy
      CURAMYN_JWT_SECRET: dummy
      CURAMYN_MONGO_URI: mongodb://localhost:27017
      CURAMYN_MONGO_DB: test_db

      CURAMYN_MLFLOW_TRACKING_URI: ""
      CURAMYN_DAGSHUB_USERNAME: ""
      CURAMYN_DAGSHUB_TOKEN: ""

      CURAMYN_AWS_ACCESS_KEY_ID: dummy
      CURAMYN_AWS_SECRET_ACCESS_KEY: dummy
      CURAMYN_S3_BUCKET_NAME: dummy-bucket

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Wait for MongoDB
        run: |
          for i in {1..10}; do
            if nc -z localhost 27017; then
              echo "MongoDB is up"
              break
            fi
            sleep 1
          done

      - name: Run pytest
        run: |
          pytest -v --disable-warnings --maxfail=1
